.env

**/__pycache__/
*.py[cod]

apache-airflow/apps
apache-airflow/data
apache-airflow/logs
apache-airflow/plugins
apache-airflow/config


api/data

databases/init-scripts/online_store/online_store.csv
databases/init-scripts/physical_store/physical_store.csv
databases/data




