.env

**/__pycache__/
*.py[cod]

apache-airflow/apps
apache-airflow/data
apache-airflow/logs
apache-airflow/plugins
apache-airflow/config


api/data

databases/dataset/pruebas.ipynb
databases/data




